{
  "service": {
    "name": "{% if item is defined %}{{ item }}{% else %}{{ consul_service_name }}{% endif %}",
    {% if consul_service_port is defined -%}
    "port": {{ consul_service_port }},
    {% endif -%}
    {% if consul_service_address is defined -%}
    "address": "{{ consul_service_address }}",
    {% endif -%}
    "enable_tag_override": true,
    {% if consul_service_checks is defined -%}
    "checks": [
      {% for check in consul_service_checks -%}
      {
        {% if check.type == "http" -%}
        "name": "{{ check.id|default(consul_service_name) }} HTTP check",
        "http": {{ check.http | to_json }},
        "method": "{{ check.method|default("GET") }}",
        {% if check.tls_server_name is defined -%}
        "tls_server_name": "{{ check.tls_server_name|default("") }}",
        {%- endif %}
        {% if check.tls_skip_verify is defined -%}
        "tls_skip_verify": {{ check.tls_skip_verify|default(False) | to_json }},
        {%- endif %}
        {% if check.header is defined -%}
        "header": {{ check.header | to_json }},
        {%- endif %}
        {% if check.body is defined -%}
        "body": {{ check.body | to_json }},
        {%- endif %}
        {% elif check.type == "tcp" -%}
        "name": "{{ check.id|default(consul_service_name) }} TCP check",
        {% if check.tcp is defined -%}
        "tcp": {{ check.tcp | to_json }},
        {% endif -%}
        {% elif check.type == "script" -%}
        "name": "{{ check.id|default(consul_service_name) }} Script check",
        "args": {{ check.args | to_json }},
        {% elif check.type == "ttl" -%}
        "name": "{{ check.id|default(consul_service_name) }} TTL check",
        "ttl": {{ check.ttl | to_json }},
        {% elif check.type == "docker" -%}
        "name": "{{ check.id|default(consul_service_name) }} Docker check",
        "docker_container_id": {{ check.docker_container_id | to_json }},
        "shell": {{ check.shell | to_json }},
        "args": {{ check.args | to_json }},
        {% endif -%}
        {% if check.deregister_critical_service_after is defined -%}
        "deregister_critical_service_after": {{ check.deregister_critical_service_after | to_json }},
        {% endif -%}
        {% if check.type != "ttl" -%}
        "interval": {{ check.interval|default("10s") | to_json }},
        "timeout": {{ check.timeout|default("1s") | to_json }},
        {% endif -%}
        "id": "{{ check.id|default(consul_service_name) }}"
      }
      {% endfor -%}
    ],
    {% endif -%}
    "meta": {{ consul_service_meta|to_json }},
    "tags": {{ consul_service_tags|to_json }}
  }
}
