{
  "service": {
    "name": "{{ consul_service_name }}",
    {% if consul_service_port is defined %}
    "port": {{ consul_service_port }},
    {% endif %}
    {% if consul_service_address is defined -%}
    "address": "{{ consul_service_address }}",
    {% endif %}
    "enableTagOverride": true
  }
}
