{
  "service": {
    "name": "{% if item is defined %}{{ item }}{% else %}{{ consul_service_name }}{% endif %}",
    {% if consul_service_port is defined -%}
    "port": {{ consul_service_port }},
    {% endif -%}
    {% if consul_service_address is defined -%}
    "address": "{{ consul_service_address }}",
    {% endif -%}
    "enableTagOverride": true,
    "tags": {{ consul_service_tags|to_json }}
  }
}
